#leftComponent {
    flex-basis: 80%;
    min-width: 45rem;
}

#leftComponent #pdfImage:hover {
    cursor: zoom-in;
}

#rightComponent {
    flex-basis: 20%;
    min-width: 14rem;
}

#pageTitle {
    flex-grow: 4;
}

#deleteIcon {
    flex-grow: 1;
    width: 2rem;
    height: 2rem;
}

#menuDeleteLayout {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}

#splitLayout {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#pdfImage, #dialogPdfImage {
    width: 100%;
    height: auto;
}

#imageDialog {
    width: 62rem;
    display: flex;
    justify-content: flex-end;
    align-content: center;
}

#closeIcon {
    position: absolute;
    right: 30px;

}

#closeIcon:hover{
    cursor: pointer;
}