/**
 * Stylesheet for ContentHolder-Content
 *
 *@added Monika Martius, edited Vanessa Skowronsky and Jessica Reistel
 *@Version 4.0
 *@since 16.01.2021
 *@updated 27.01.2021 by Jessica Reistel
 */

/* CSS-Befehle, die mehrere Views betreffen */
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');

.pageContentPosition {
    width: 100% !important;
    height: 100%;
    margin-top: 0;
    line-height: 30px;
    align-items: center;
    font-family: 'Gothic A1', sans-serif;
}

#contentHolder{
    padding: 0;
}

#contentHolder h1 {
    margin-left: 15px;
    margin-top: 35px;
    font-family: 'Gothic A1', sans-serif;
    font-style: normal;
    font-size: 40px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    text-align: center;
}

#contentHolder p{
    font-size: 17px;
    margin-left: 15px;
    margin-right: 15px;
}

#contentHolder::before{
    content: none;
}

h2 {
    margin: 0;
    font-family: 'Gothic A1', sans-serif;
    display: flex;
    align-items: normal;
    text-align: center;
    line-height: initial;
    color: #FFFFFF;
    font-weight: 500;
}

.firstQuote{
    margin-left: 15px;
    margin-top: 80px;
    font-style: italic;
    font-size: 40px;
}

.secondQuote{
    margin-left: 80px;
    font-style: normal;
    font-size: 60px;
}

.justifyContentCenter {
    justify-content: center;
}

#gridFullPage{
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 20px;
}

/* Colorschemes */

.homeColorscheme {
    background: linear-gradient(180deg, rgba(0, 133, 255, 0.5) 0%, rgba(14, 89, 203, 0) 120%);
}

.homeColorscheme h1 {
    color: #0D5699;
}

.ourCompanyColorscheme{
    background: linear-gradient(180deg, rgba(216, 131, 131, 0.5) 0%, rgba(196, 196, 196, 0) 120%);
}

.ourCompanyColorscheme h1{
    color: #A00505;
}

.projectsColorscheme {
    background: linear-gradient(180deg, rgba(128, 70, 174, 0.5) 0%, rgba(196, 196, 196, 0) 120%);
}

.projectsColorscheme h1 {
    color: #581092;
}

.libraryColorscheme {
    background: linear-gradient(180deg, rgba(47, 124, 120, 0.5) 0%, rgba(196, 196, 196, 0) 120%);
}

.libraryColorscheme h1{
    color: #255b57;
}

.servicesColorscheme {
    background: linear-gradient(180deg, rgba(255, 96, 33, 0.5) 0%, rgba(196, 196, 196, 0) 120%);
}

.servicesColorscheme h1{
    color: #9b3a23;
}

.communityColorscheme {
    background: linear-gradient(180deg, rgba(240, 191, 44, 0.5) 0%, rgba(196, 196, 196, 0) 120%);
}

.communityColorscheme h1{
    color: darkgoldenrod;
}

.centerColorscheme {
    background: linear-gradient(180deg, rgb(73, 174, 239) 0%, rgba(196, 196, 196, 0) 150%);
}

.centerColorscheme h1 {
    color: #0D5699;
}

.anchorComponent{
    padding-right: 0;
    margin-top: 0;
    margin-left: 15px;
}
/* -------------------------------------------------------------- */
/*

.layoutData{
    width: 100%;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
}

.layout {
    width: auto;
    height: 636px;
}

*/
/* horizontal/center/CenterIView */
#centerI vaadin-horizontal-layout{
    margin-left: 15px;
}
#centerI #organizationChart{
    height: 800px;
    margin-left: 160px;
    margin-top: 40px;
}

/* -------------------------------------------------------------- */

/* horizontal/center/CentersView */

/* -------------------------------------------------------------- */

/* horizontal/community/CommunityView */

/* -------------------------------------------------------------- */

/* horizontal/community/IdeaManagementView */
#ideasManagement vaadin-button{
    margin-left: 15px;
    margin-right: 15px;
    float: right;
    margin-top: 0;
}
#ideasManagement p{
    margin-top: 13px;
}
/* -------------------------------------------------------------- */

/* horizontal/community/NoticeView */

/* -------------------------------------------------------------- */

/* horizontal/library/ArchiveView */

/* -------------------------------------------------------------- */

/* horizontal/library/DocumentsView */

/* -------------------------------------------------------------- */

/* horizontal/library/FAQView */

/* -------------------------------------------------------------- */

/* horizontal/library/libraryView */

/* -------------------------------------------------------------- */

/* horizontal/library/MediaView */

/* -------------------------------------------------------------- */

/* horizontal/ourCompany/AboutUsView */
#aboutUs #timelineBSAG {
    width: 80%;
}

#aboutUs #timelineBSAG::before {
    height: 100%;
    transform: translate(0%, 0%);
}

#aboutUs #item1876 {
    padding-top: 50px;

}

#aboutUs #item1961 {
    padding-bottom: 20px;

}

/* -------------------------------------------------------------- */

/* horizontal/ourCompany/CareerView */

#career #careerHeadL{
    margin-block-start: inherit;
    margin-bottom: revert;
    color: #A00505;
}

#career .quoteCareer{
    display: flex;
    margin-left: 30px;
    margin-bottom: 5px;
    color:  #4B4A4A;
    font-family: 'Gothic A1', sans-serif;
    align-items: normal;
    text-align: center;
}

#career .iconDiv{
    margin-left: 30px;
}

#career .latestOffer{
    display: flex;
    font-size:20px;
    margin-left: 30px;
    margin-top: 60px;
    color:  #4B4A4A;
    font-family: 'Gothic A1', sans-serif;
    align-items: normal;
    text-align: center;
}

#career #tableCareer{
    margin-left: 30px;
    display: grid;
    width: 600px;
    height: 230px;
}

#career .pageContent{
    display: flex;
    margin-left: 30px;
    margin-bottom: 5px;
    color:  #4B4A4A;
    font-family: 'Gothic A1', sans-serif;
    align-items: normal;


}
#career #addButton{
    margin-right: 13px;
    display: flex;
}

#career #addClearDiv{
    margin-left: 200px;
    display: flex;
}
/* -------------------------------------------------------------- */

/* horizontal/ourCompany/NewsView */

/* -------------------------------------------------------------- */

/* horizontal/ourCompany/OurCompanyView */

/* -------------------------------------------------------------- */

/* horizontal/ourCompany/SportView */

/* -------------------------------------------------------------- */

/* horizontal/ourCompany/WelcomeView */

/* -------------------------------------------------------------- */

/* horizontal/projects/NordlichtView */
#nordlicht #layoutBigContainerPicture{
    max-width: 500px;
    width: 100%;
    margin-left: 380px;
    justify-content: center;
}

/* -------------------------------------------------------------- */

/* horizontal/projects/ProjectsView */
#projects #scroll{
    max-width: 1000px;
    width: 100%;
    margin-left: 120px;
    overflow-x: auto;
}
/* -------------------------------------------------------------- */

/* horizontal/services/ServicesView */

/* -------------------------------------------------------------- */

/* login/LoginView */

/* -------------------------------------------------------------- */

/* vertical/canteen/CanteenView */
#canteen #leftComponent {
    flex-basis: 80%;
    min-width: 45rem;
}

#canteen #leftComponent #pdfImage:hover {
    cursor: zoom-in;
}

#canteen #rightComponent {
    flex-basis: 30%;
    min-width: 15rem;
}

#canteen #pageTitle {
    flex-grow: 4;
}

#canteen #deleteIcon {
    flex-grow: 1;
    width: 2rem;
    height: 2rem;
}
#canteen #deleteIcon:hover {
    cursor: pointer;
}

#canteen #menuDeleteLayout {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}

#canteen #splitLayout {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#canteen #pdfImage, #dialogPdfImage {
    width: 100%;
    height: auto;
}

#canteen #imageDialog {
    width: 62rem;
    display: flex;
    justify-content: flex-end;
    align-content: center;
}

#canteen.closeIcon {
    position: absolute;
    right: 30px;

}

#canteen.closeIcon:hover{
    cursor: pointer;
}
/* -------------------------------------------------------------- */

/* vertical/help/HelpView */
#help a{
    font-weight: 600;
    color: #A00505;
    font-size: 17px;
}

#help vaadin-horizontal-layout{
    margin-left: 15px;
    margin-right: 15px;
    align-items: baseline;
    justify-content: center;
}
/* -------------------------------------------------------------- */

/* vertical/myProfile/MyProfileView */
#myProfile #saveCancelDiv{
    text-align: center;
}

#myProfile.myProfileButton{
    background-color: darkgrey;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid black;
}
/* -------------------------------------------------------------- */

/* vertical/notifications/NotificationsView */

/* -------------------------------------------------------------- */

/* vertical/phoneBook/PhoneBookView */

/* -------------------------------------------------------------- */

/* vertical/search/SearchView */

/* -------------------------------------------------------------- */

/* vertical/settings/Settingsiew */

/* -------------------------------------------------------------- */

/* ui/HomeView */

/* -------------------------------------------------------------- */

/* ui/InProgressView */

/* -------------------------------------------------------------- */
