/**
 * Stylesheet for ContentHolder-Content
 *
 *@added Monika Martius, edited Vanessa Skowronsky and Jessica Reistel
 *@Version 4.0
 *@since 16.01.2021
 *@updated 27.01.2021 by Jessica Reistel
 */

/* CSS-Befehle, die mehrere Views betreffen */
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');


html {
    --lumo-font-family: "Gothic A1", sans-serif;
    --lumo-primary-color: hsl(0, 93%, 32%);
}

.pageContentPosition {
    width: 100% !important;
    height: 100%;
    margin-top: 0;
    line-height: 30px;
    align-items: center;
    font-family: 'Gothic A1', sans-serif;
    border-radius: 16px;
    padding-left: 16px;
    padding-top: 16px;
}

#contentHolder{
    padding: 0;
    margin-right: 16px;
}

#contentHolder h1 {
    margin-top: 35px;
    font-family: 'Gothic A1', sans-serif;
    font-style: normal;
    font-size: 40px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    text-align: center;
}

#contentHolder p{
    font-size: 17px;
    margin-left: 15px;
    margin-right: 15px;
}

#contentHolder::before{
    content: none;
}

h2 {
    margin: 0;
    font-family: 'Gothic A1', sans-serif;
    display: flex;
    align-items: normal;
    text-align: center;
    line-height: initial;
    font-weight: 500;
}

.firstQuote{
    margin-left: 15px;
    margin-top: 80px;
    font-style: italic;
    font-size: 40px;
}

.secondQuote{
    margin-left: 80px;
    font-style: normal;
    font-size: 60px;
}

.justifyContentCenter {
    justify-content: center;
}

#gridFullPage{
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 20px;
}

vaadin-upload{
    margin-left: 15px;
    margin-right: 15px;
}
vaadin-upload button{
    background: #A00505;
    color: white;
    border-radius: 4px;
    border: none;
    padding: 7px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

vaadin-upload button:hover {
    background: #730606;
    color: white;
    transition: 0.5s;
}

vaadin-button{
    font-weight: 600;
}

#help a, #centerI a, #fAQ a, #phoneBook a{
    font-weight: 600;
    color: #A00505;
    font-size: 17px;
    margin-left: 15px;
}

#dataSetLayout{
   padding-left: 0;

}

/* Colorschemes */

.darkColorscheme {
    background:hsl(214, 35%, 21%);
    color:white;
}

.lightColorscheme{
    background: white;
    color: hsl(214, 35%, 21%);
}


.homeColorscheme h1 {
    color: #0D5699;
}

.ourCompanyColorscheme h1{
    color: #A00505;
}

.projectsColorscheme h1 {
    color: #581092;
}

.libraryColorscheme h1{
    color: #2F7C78;
}

.servicesColorscheme h1{
    color: #FF5621;
}

.communityColorscheme h1{
    color: #F0D12C;
}

.centerColorscheme h1 {
    color: #1481de;
}

.anchorComponent{
    padding-right: 0;
    margin-top: 0;
    margin-left: 15px;
}

/* -------------------------------------------------------------- */

/* horizontal/center/CenterIView */

#centerI #organizationChart{
    height: 800px;
    margin-top: 40px;
}
/* -------------------------------------------------------------- */

/* horizontal/center/CentersView */

/* -------------------------------------------------------------- */

/* horizontal/community/CommunityView */

/* -------------------------------------------------------------- */

/* horizontal/community/IdeaManagementView */
#ideasManagement vaadin-button{
    margin-left: 15px;
    margin-right: 15px;
    float: right;
    margin-top: 0;
}
#ideasManagement p{
    margin-top: 13px;
}
/* -------------------------------------------------------------- */

/* horizontal/community/NoticeView */
#noticeBoard p, #noticeBoard vaadin-radio-group{
    margin: 0;
}

#noticeBoard #rightComponent{
    padding-top: 10px;
}
/* -------------------------------------------------------------- */

/* horizontal/library/ArchiveView */

/* -------------------------------------------------------------- */

/* horizontal/library/DocumentsView */
#documents vaadin-radio-group, #documents #messageContainer, #documents h4{
    margin-left: 15px;
}
/* -------------------------------------------------------------- */

/* horizontal/library/FAQView */

/* -------------------------------------------------------------- */

/* horizontal/library/libraryView */

/* -------------------------------------------------------------- */

/* horizontal/library/MediaView */

/* -------------------------------------------------------------- */

/* horizontal/ourCompany/AboutUsView */
#aboutUs #timelineBSAG {
    width: 80%;
}

#aboutUs #timelineBSAG::before {
    height: 100%;
    transform: translate(0%, 0%);
}

#aboutUs #item1876 {
    padding-top: 50px;
}

#aboutUs #item1961 {
    padding-bottom: 20px;
}

#aboutUs pure-timeline-item{
    --box: #a00505;
}
/* -------------------------------------------------------------- */

/* horizontal/ourCompany/CareerView */

#career #careerHeadL{
    margin-block-start: inherit;
    margin-bottom: revert;
    color: #A00505;
}

#career .quoteCareer{
    display: flex;
    margin-bottom: 5px;
    font-family: 'Gothic A1', sans-serif;
    align-items: normal;
    text-align: center;
}

#career .latestOffer{
    display: flex;
    font-size: 20px;
    margin-top: 60px;
    font-family: 'Gothic A1', sans-serif;
    align-items: normal;
    text-align: center;
}

#career #tableCareer{

    display: grid;
    width: 600px;
    height: 230px;
}

#career .pageContent{
    display: flex;
    margin-bottom: 5px;
    font-family: 'Gothic A1', sans-serif;
    align-items: normal;


}

#career #addButton{
    margin-right: 13px;
    display: flex;
}

/* -------------------------------------------------------------- */

/* horizontal/ourCompany/NewsView */
#readMoreButton{
    cursor: pointer;
    align-self: flex-end;
    background: none!important;
}

#addNews{
    cursor: pointer;
    align-self: flex-end;
}

#date{
    color: #A00505;
    font-weight: bold;
}

/* -------------------------------------------------------------- */

/* horizontal/ourCompany/OurCompanyView */

/* -------------------------------------------------------------- */

/* horizontal/ourCompany/SportView */

/* -------------------------------------------------------------- */

/* horizontal/ourCompany/WelcomeView */

/* -------------------------------------------------------------- */

/* horizontal/projects/NordlichtView */
#nordlicht #layoutBigContainerPicture{
    max-width: 500px;
    width: 100%;
    margin-left: 380px;
    justify-content: center;
}

#nordlicht h2{
    margin-bottom: 0.5em;
    margin-left: 15px;
    font-weight: 600;
    margin-top: 1.25em;
}

#nordlicht h3{
    margin-top: 18px;
    margin-bottom: 5px;
}

#nordlicht p{
    margin: 0;
}
/* -------------------------------------------------------------- */

/* horizontal/projects/ProjectsView */
#projects #scroll{
    max-width: 1000px;
    overflow-x: auto;
}
/* -------------------------------------------------------------- */

/* horizontal/services/ServicesView */

/* -------------------------------------------------------------- */

/* login/LoginView */

/* -------------------------------------------------------------- */

/* vertical/canteen/CanteenView */
#canteen #leftComponent {
    flex-basis: 80%;
    min-width: 45rem;
}

#canteen #leftComponent #pdfImage:hover {
    cursor: zoom-in;
}

#canteen #rightComponent {
    flex-basis: 30%;
    min-width: 15rem;
}

#canteen #pageTitle {
    flex-grow: 4;
}

#canteen #deleteIcon {
    flex-grow: 1;
    width: 2rem;
    height: 2rem;
}
#canteen #deleteIcon:hover {
    cursor: pointer;
}

#canteen #menuDeleteLayout {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}

#canteen #splitLayout {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#canteen #pdfImage, #dialogPdfImage {
    width: 100%;
    height: auto;
}

#canteen #imageDialog {
    width: 62rem;
    display: flex;
    justify-content: flex-end;
    align-content: center;
}

#canteen.closeIcon {
    position: absolute;
    right: 30px;

}

#canteen.closeIcon:hover{
    cursor: pointer;
}
/* -------------------------------------------------------------- */

/* vertical/help/HelpView */
#help vaadin-horizontal-layout{
    margin-left: 15px;
    margin-right: 15px;
    align-items: baseline;
    justify-content: center;
}
/* -------------------------------------------------------------- */

/* vertical/myProfile/MyProfileView */
#myProfile #saveCancelDiv{
    text-align: center;
}

/* -------------------------------------------------------------- */

/* vertical/notifications/NotificationsView */

/* -------------------------------------------------------------- */

/* vertical/phoneBook/PhoneBookView */
#phoneBook vaadin-vertical-layout {
    padding: 0;
    margin: 0;
}
/* -------------------------------------------------------------- */

/* vertical/search/SearchView */

/* -------------------------------------------------------------- */

/* vertical/settings/Settingsiew */

/* -------------------------------------------------------------- */

/* ui/HomeView */
#home rss-items{
    margin-right: 15px;
}
/* -------------------------------------------------------------- */

/* ui/InProgressView */

#inProgress iron-icon{
    width: 300px;
    height: 300px;
}

#inProgress Div{
    display: flex;
    justify-content: center;
    margin: 50px;
}
/* -------------------------------------------------------------- */
