/**
 * Stylesheet for header
 *@added Monika Martius & Marieke Menna
 *@Version 1.0
 *@since 12.01.2021
 */

.icons{
    color: #FFFFFF;
    width: 65px;
    height: 65px;
}

.menuButtons{
    background-color: #982f2f !important;
}

.image{
    width: auto;
    height: 50px;
}
#menuBar {
    background: #4B4A4A;
    opacity: 0.7;
    box-shadow: 7px 7px 10px 1px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    width:90%;
    height: 45px;
}

#menuBar::part(container){
    justify-content: space-evenly;
}

.spanStyle{
    color: #FFFFFF;
    font-size: 14px;
    width: 120px;
    height: 120px;
    alignment: center;
    text-align: center;
}

.submenu{
    width: 140px;
    height: 140px;
    align-items: center;
}
