/**
 Stylesheet for LoginView
 @version 4.0
 @since 20.12.2020
 @lastUpdated 07.02.2021 by Jessica Reistel
 */

#login {
    background: no-repeat center center fixed;
    background-size: cover;
}

#loginForm{
    margin: 0;
}

#login #logoImage{
    width: 30%;
    height: auto;
    position: fixed;
    bottom: 25px;
    right: 0;
    cursor: auto;
}
