#login {
    background: no-repeat center center fixed;
    background-size: cover;
}

#loginForm{
    margin: 0;
}

#login #logoImage{
    width: 30%;
    height: auto;
    position: fixed;
    bottom: 25px;
    right: 0;
    cursor: auto;
}
