#header {
  height: var(--lumo-size-xl);
}
#header h1 {
  font-size: var(--lumo-font-size-l);
  margin: 0;
}

#header #avatar {
  margin-right: var(--lumo-space-m);
  margin-left: auto;
}


.main-view .navBar{
  background-color: #515151;
  --lumo-primary-text-color: white;
}


.main-view .content {
  display: flex;
}

.main-view .text-div{
  flex: 4;
}

.main-view .side-bar{
  flex: 1;
  padding: var(--lumo-space-m);

}
.tabs-div{
  display: flex;
}


.main-view .vertical-layout{
  background-color: #3765ac;
  text-decoration-color: white;
  color: white;
  padding-top: 2rem;
  padding-left: 1.7rem;

}

.main-view .header{

  display: flex;
  flex-wrap: wrap;
}

/* -- To make the logo button invisible -- */
.logoBtn,
.logoBtn:active,
.logoBtn:hover,
.logoBtn:focus {
  background-color: transparent;
  border: none;
  outline:none;
  cursor: pointer;
}
