/**
 Stylesheet for mainView, header, horizontalBar, sideBar and notifications
 @version 4.0
 @since 20-12-2020
 @lastUpdated 01.02.2021 by Vanessa Skowronsky
 */

#mainView{
  height: 100%;
  padding: 0;
}

#mainContainerVerticalLayout{
  margin-top: 15px;
  max-width: 1200px;
  align-self: center;
  padding: 0;

}

#mainContainer{
  width: 100%;
  margin: 0;
}

/* Header */
#header{
  align-items: center;
  padding-bottom: 25px;
}

#iconContainer {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

#iconContainer::before{
  content: none;
}

.breadcrumb {
  margin: 15px;
}

#logout{
  height: auto;
  width: 3em;
  margin-left: unset;
  margin-right: 5vw;
}

#logout:hover{
  cursor: pointer;
}

#logoImage,
#logoImage:active,
#logoImage:hover,
#logoImage:focus{
  width: auto;
  height: 100px;
  border: none;
  outline:none;
  cursor: pointer;
}

/* Colors */
.colorHome {
  background: linear-gradient(180deg, #0D5699 0%, rgba(255, 255, 255, 100) 100%);
  text-decoration-color: white;
  color: white;
}

.colorCompany {
  background: linear-gradient(180deg, #A00505 0%, rgba(255, 255, 255, 100) 100%);
  text-decoration-color: white;
  color: white;
}

.colorCenter {
  background: linear-gradient(180deg, #1481de 0%, rgba(255, 255, 255, 100) 100%);
  text-decoration-color: white;
  color: white;
}

.colorProjects {
  background: linear-gradient(180deg, #581092 0%, rgba(255, 255, 255, 100) 100%);
   text-decoration-color: white;
  color: white;
}

.colorLibrary{
  background: linear-gradient(180deg, #2F7C78 0%, rgba(255, 255, 255, 100) 100%);
  text-decoration-color: white;
  color: white;
}

.colorServices {
  background: linear-gradient(180deg, #FF5621 0%, rgba(255, 255, 255, 100) 100%);
  text-decoration-color: white;
  color: white;
}

.colorCommunity {
  background: linear-gradient(180deg, #F0D12C 0%, rgba(255, 255, 255, 100) 100%);
  text-decoration-color: white;
  color: white;
}

/*Dark Colors*/
.colorDarkHome {
  background: linear-gradient(180deg, #0D5699 0%, hsl(214, 35%, 21%));
  text-decoration-color: white;
  color: white;
}

.colorDarkCompany {
  background: linear-gradient(180deg, #A00505 0%, hsl(214, 35%, 21%));
  text-decoration-color: white;
  color: white;
}

.colorDarkCenter {
  background: linear-gradient(180deg, #1481de 0%, hsl(214, 35%, 21%));
  text-decoration-color: white;
  color: white;
}

.colorDarkProjects {
  background: linear-gradient(180deg, #581092 0%, hsl(214, 35%, 21%));
  text-decoration-color: white;
  color: white;
}

.colorDarkLibrary{
  background: linear-gradient(180deg, #2F7C78 0%, hsl(214, 35%, 21%));
  text-decoration-color: white;
  color: white;
}

.colorDarkServices {
  background: linear-gradient(180deg, #FF5621 0%, hsl(214, 35%, 21%));
  text-decoration-color: white;
  color: white;
}

.colorDarkCommunity {
  background: linear-gradient(180deg, #F0D12C 0%, hsl(214, 35%, 21%));
  text-decoration-color: white;
  color: white;
}

/* Horizontal Bar */
#horizontalBar {
  background: #4B4A4A;
  opacity: 0.9;
  box-shadow: 7px 7px 10px 1px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  width: 100%;
  max-width: 1200px;
}

#horizontalBar::part(container){
  justify-content: center;
}

.submenuLink{
  padding-right: 0;
  margin-top: 0;
  margin-left: 0;
  padding-bottom: 0;
}

.horizontalBarIcons{
  color: #FFFFFF;
  width: 65px;
  height: 65px;
}

.spanStyle{
  color: #FFFFFF;
  font-size: 14px;
  width: 120px;
  height: 120px;
  alignment: center;
  text-align: center;
}

.submenu{
  width: 140px !important;
  height: 140px;
  align-items: center;
  cursor: pointer;
}

/* Sidebar */
#sideBar {
  padding: 0;
  width: auto !important;
}

#search{
  width: 100%;
  height: 25px;
  font-size: small;
  margin-top: 2px;
}

#alertBell{
  width: 55px;
  height: 55px;
  left: 19px;
  top: 1px;
  color: #575757;
}

#alertBell:hover {
  cursor: pointer;
}

#alertSpan{
  position: absolute;
  top: 5px;
  right: -2px;
  padding: 0px 8px 1px;
  border-radius: 50%;
  background: #e31313;
  font-weight: 700;
  font-size: 14px;
}

#notificationAlertSpan{
  color: white;
  text-decoration: none;
  padding: 15px 26px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
}

#tabsView{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 7px 7px 10px 1px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  margin-top: 20px;
  background: #575757;
  width: 100%;
}

#sideBar vaadin-tab{
  color:white;
}

#sideBar vaadin-tab[selected] a[highlight]{
  background: #A00505;
  font-weight: bold;
}

#sideBar vaadin-tab:hover{
  background: #A00505;
}

/* Notifications*/
#notificationBtn, #deleteButton{
  background: #A00505;
  color: white;
  position: absolute;
  font-size: 14px;
  cursor: pointer;
}
#notificationBtn{
  bottom: 0.07rem;
  right: 0.75rem;
  padding: 7px;
}
#deleteButton{
  right: 6rem;
  bottom: 0.3rem;
  padding: 9.8px;
  font-weight: 600;
  border-radius: 4px;
  border: none;
}

/* Close and Delete Button get darker when hovered on */
#notificationBtn:hover, #deleteButton:hover {
  background: #730606;
  color: white;
  transition: 0.5s;
}

/* Styling the notifications container */
.notificationsContainer{
  background: linear-gradient(180deg, #82b7d0 47.4%, rgba(11, 100, 183, 0) 85%);
  padding: 1rem;
  margin: 0;
  display: block;
}

/*Make selected notification visible*/
.layout:active, .layout:focus, .layout:hover{
  background: linear-gradient(180deg, rgb(70, 153, 197) 0%, rgba(11, 100, 183, 0) 90.8%);
}

/*Hide the id of the notification*/
.checkbox{
  color:transparent;
  padding-top: 0.3rem;
  right:1.8rem;
  position: absolute;
}





