/**
 * Stylesheet for mainView, header, horizontalBar and sideBar
 *created @ MonikaMartius, Edited @ Vanessa Skowronksy*/


#mainView{
  height: 100%;
}

#mainContainerVerticalLayout{
  align-items: center;
}

#mainContainer{
  width: 90%;
  margin: 0;
}


/* Header */
#header{
  height: 185px;
  align-items: center;
}

#iconContainer {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

#iconContainer::before{
  content: none;
}

#logout{
  height: auto;
  width: 3em;
  margin-left: unset;
  margin-right: 5vw;
}

#logout:hover{
  cursor: pointer;
}

#logoImage,
#logoImage:active,
#logoImage:hover,
#logoImage:focus{
  width: auto;
  height: 100px;
  border: none;
  outline:none;
  cursor: pointer;
}


/* Colors */
.colorHome {
  background: linear-gradient(180deg, #0D5699 0%, rgba(70, 136, 197, 0.78) 70.83%, rgba(130, 171, 208, 0.78) 83.33%, rgba(11, 100, 183, 0) 93.75%);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  text-decoration-color: white;
  color: white;
}

.colorCompany {
  background: linear-gradient(180deg, #A00505 0%, rgba(182, 63, 63, 0.78) 70.83%, #AB4F4F 83.33%, rgba(177, 85, 85, 0) 93.75%);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  text-decoration-color: white;
  color: white;
}

.colorCenter {
  background: linear-gradient(180deg, #1481de 0%, rgb(70, 153, 197) 47.4%, #82b7d0 77.6%, rgba(11, 100, 183, 0) 93.75%);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  text-decoration-color: white;
  color: white;
}

.colorProjects {
  background: linear-gradient(180deg, #581092 0%, rgba(88, 16, 146, 0.78) 47.4%, #875EA8 77.6%, rgba(153, 104, 193, 0) 93.75%);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  text-decoration-color: white;
  color: white;
}

.colorLibrary{
  background: linear-gradient(180deg, #2F7C78 0%, rgba(23, 156, 149, 0.78) 47.4%, #67B3AF 77.6%, rgba(106, 193, 189, 0) 93.75%);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  text-decoration-color: white;
  color: white;
}

.colorServices {
  background: linear-gradient(180deg, #FF5621 0%, #F0987C 70.83%, #E6B5A5 83.33%, rgba(225, 195, 186, 0) 93.75%);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  text-decoration-color: white;
  color: white;
}

.colorCommunity {
  background: linear-gradient(180deg, #F0D12C 0%, #E2DE93 70.83%, #E4E0C9 83.33%, rgba(240, 233, 195, 0) 93.75%);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  text-decoration-color: white;
  color: white;
}

/* Horizontal Bar */
#horizontalBar {
  background: #4B4A4A;
  opacity: 0.9;
  box-shadow: 7px 7px 10px 1px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  width: 90%;
  height: 45px;
}

#horizontalBar::part(container){
  justify-content: space-evenly;
}

.horizontalBarIcons{
  color: #FFFFFF;
  width: 65px;
  height: 65px;
}

.spanStyle{
  color: #FFFFFF;
  font-size: 14px;
  width: 120px;
  height: 120px;
  alignment: center;
  text-align: center;
}

.submenu{
  width: 140px !important;
  height: 140px;
  align-items: center;
}

/* Sidebar */

#sideBar {
  width: 205px !important;
  height: 631px !important;
  padding: 0;
}

#search{
  width: 155px;
  height: 25px;
  color: #575757;
  font-size: small;
}

#alertBell{
  width: 55px;
  height: 55px;
  left: 45px;
  top: 1px;
  color: #575757;
}

#alertBell:hover {
  cursor: pointer;
}

#tabsView{
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 7px 7px 10px 1px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
}





