/**
 * Stylesheet for myProfileView
 *
 *@author Jessica Reistel and Laura Neuendorf
 *@Version 1.0
 *@since 21.12.2020
 */

/* Positioning the Save and Cancel button and styling it*/
.saveCancelButton{
    text-align: center;
}
#button{
    background-color: darkgrey;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid black;
}