#sideBar {
    width: 205px !important;
    height: 631px !important;
}

#search{
    width: 155px;
    height: 25px;
    color: #575757;
    font-size: small;
}

#alert{
    width: 56px;
    height: 55px;
    left: 45px;
    top: 1px;
    color: #575757;
}

.textView {
    background: linear-gradient(180deg, rgba(131, 140, 216, 0.5) 0%, rgba(196, 196, 196, 0) 81.8%);
}

.tabsView{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 7px 7px 10px 1px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
}

#alert:hover {
    cursor: pointer;
}